/* set background image per page */
.home-bg .jumbotron{
    background-image: url(../images/italy.jpg);
    height:650px;
}

.jumbotron {
background-size : cover;
color:white;
height:600px;
//margin-top: -24px;

}

.jumbotron .overlay {
    background-color: rgba(24, 0, 55, 0.6);;
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:676px;
}

.projtitle {
  padding-top:100px;
  padding-bottom:50px;
  height:100%;
  text-align:center;
  background-color: rgba(24, 0, 55, 0.6);
  width:100%;
}

.projtitle h1 {
  color:#E6C8E8;
}


.jumbotron .overlay h1 {
 // text-align:center;
   margin-top: 120px;
    padding-right: 50px;
    padding-left: 50px;
}

.jumbotron .overlay h2 {
  //text-align:center;
   padding-right: 50px;
   padding-left: 50px;
   padding-bottom:30px;
}


.navbar a {
   color: white;
   text-decoration: none;
}

.navbar-inner {
    color: white;
    
}

.container {
}



/*.footer {
 padding-top: 50px;
    padding-right: 20px;
    padding-bottom: 200px;
    padding-left: 70px;
}*/

/*p {

color:white;
font-size: 20px;
padding-bottom: 50px;


}*/

.nav li {
  display: inline;
}

body {
  background-color: rgb(16,16,16);
  color:white;
}

.img-responsive
{
    //	border-radius: 50%;

	box-shadow: 10px 10px 5px rgba(0,0,0,0.9);
}

/*.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}*/

/*.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #fc0 /* change this to any color you want! */;
}*/

 table {
  margin-bottom:50px;
  width:100%;
}

.topic {
    position: relative;
    top: 70px;
    right: 70px;
   text-align: right;
   font-weight: bold;
}

.row {
  border-bottom: solid white 1px;
  width:100%;
  height:80px;
}

 h3 {
 margin-top:100px;
 margin-left:center;
 text-align:center;
 font-weight:bold;
 }




 .container {
     font-size:large;
 }

 #projects {
  background-color:white;
  color:black;
  margin:auto;
  padding: 80px 120px;
 }


 .carousel {
   
     padding:100px 100px;
 }
 
 .carousel-inner{
     margin:auto;

 }

 .item h4 {
    margin: 70px 0;
 }

 .carousel-control.right, .carousel-control.left {
    background-image: none;
    color:rgb(13, 0, 26);;
}

.carousel-indicators li {
    border-color:rgb(13, 0, 26);;
}

.carousel-indicators li.active {
    background-color: rgb(13, 0, 26);;
}

#me {
 padding: 100px 200px;
 margin:auto;
}

#project {
    padding: 200px 200px;
    margin:auto;
}